.header 
    i.fa.fa-exchange-alt.fa-lg.toggle-sidebar
    .dropdown.notifications-container
        i.fa.fa-bell.fa-lg.toggle-notifications#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | Notifications
                span 50
            .noti-content 
                ul.list-unstyled
                    li
                        i.far.fa-envelope.fa-lg
                        | You Got Email From Bla Bla
                    li
                        i.fa.fa-money-bill-wave.fa-lg
                        | You Got Money From Bla Bla
                    li
                        i.far.fa-thumbs-up.fa-lg
                        | You Got Like From Bla Bla
                    li
                        i.fa.fa-thumbtack.fa-lg
                        | You Got Email From Bla Bla
                    li
                        i.fa.fa-envelope.fa-lg
                        | You Got Email From Bla Bla
            .noti-foot.text-center: a(href="#") View All Notifications
