.settings-box.hide-settings
    .toggle-settings
        i.fa.fa-cog.fa-lg
    .settings-cotent
        .option-box
            h4 Color Options
        .option-box
            h4 Font Options
        .option-box
            h4 Sidebar Options